<head>
  <title>material-sample</title>
</head>

<body></body>

<!-- <template name="hello">
  <div class="block">
	  <div class="first-block">
	  	<div class="balance-text">
		  	<p >Balance = R 100</p>
		  </div>
		  <div class="balance-btn">
			  <a class="waves-effect waves-light btn btn-font">Send</a>
				<a class="waves-effect waves-light btn btn-font">Request</a>
				<a class="waves-effect waves-light btn btn-font">Add</a>
			</div>
		</div>
		<div class="second-block">
			<div class="latest-trxn">
				<p>Latest Transanction </p>
			</div>
      <ul class="collection">
		    <li class="collection-item avatar">
		      <i class="mdi-av-play-arrow circle red"></i>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="mdi-file-folder circle"></i>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="mdi-action-assessment circle green"></i>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
		    </li>
		    <li class="collection-item avatar">
		      <i class="mdi-av-play-arrow circle red"></i>
		      <p>First Line <br>
		         Second Line
		      </p>
		      <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
		    </li>
		  </ul>
		</div>
	</div>
</template> -->

<!-- <template name="home">
	<div class="block">
	  <div class="first-block">
	  	<div class="balance-text">
		  	<p >Balance = R 100</p>
		  </div>
		</div>
		<div class="row second-block">
			<div class="row">
		    <div class="col s12">
		      <ul class="tabs">
		        <li class="tab col s3 "><a class="tab-color send-li" href="#send">Send</a></li>
		        <li class="tab col s3 "><a class="tab-color" href="#request">Request</a></li>
		        <li class="tab col s3 "><a class="tab-color" href="#add">Add</a></li>
		      </ul>
		    </div>
		  </div>
	    <div class="row send">
	      <form class="col s12">
	        <div class="row row-height">
	          <div class="input-field col s6">
	            <input id="send_mobile_email" type="text" length="10">
	            <label for="send_mobile_email">Mobile or Email</label>
	          </div>
	        </div>
	        <div class="row row-height">
	          <div class="input-field col s6">
	            <input id="send_amount" type="text" length="4">
	            <label for="send_amount">Amount</label>
	          </div>
	        </div>
	        <div class="row row-height">
	          <div class="input-field col s6">
		          <i class="mdi-editor-insert-comment prefix"></i>
		          <textarea id="send_comment" class="materialize-textarea comment-height"></textarea>
		          <label for="send_comment">Commments</label>
		        </div>
	        </div>
	        <a class="waves-effect waves-light btn btn-style">Send</a>
	      </form>
	    </div>
	    <div class="row request">
	      <form class="col s12">
	        <div class="row row-height">
	          <div class="input-field col s6">
	            <input id="request_mobile_email" type="text" length="10">
	            <label for="request_mobile_email">Mobile or Email</label>
	          </div>
	        </div>
	        <div class="row row-height">
	          <div class="input-field col s6">
	            <input id="request_amount" type="text" length="4">
	            <label for="request_amount">Amount</label>
	          </div>
	        </div>
	        <div class="row row-height">
		        <div class="input-field col s6">
		          <i class="mdi-editor-insert-comment prefix"></i>
		          <textarea id="request_comment" class="materialize-textarea comment-height"></textarea>
		          <label for="request_comment">Comments</label>
		        </div>
		      </div>
		      <a class="waves-effect waves-light btn btn-style">Request</a>
	      </form>
	    </div>
	    <div class="row add">
	      <form class="col s12">
	        <div class="row row-height">
	          <div class="input-field col s6">
	            <input id="add_amount" type="text" length="10">
	            <label for="add_amount">Enter Amount to Add</label>
	          </div>
	        </div>
	        <a class="waves-effect waves-light btn btn-style">Add</a>
	      </form>
	    </div>
		</div>
	</div>
	
</template> -->

<!-- <template name="test3">
	<div class="block">
	  <div class="first-block">
	  	<div class="balance-text">
		  	<p >Balance = R 100</p>
		  </div>
		</div>
		<div class="second-block">
	    <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s3 "><a class="tab-color active" href="#send">Send</a></li>
	        <li class="tab col s3 "><a class="tab-color" href="#request">Request</a></li>
	        <li class="tab col s3 "><a class="tab-color" href="#add">Add</a></li>
	      </ul>
	    </div>
	    <div class="row" id="send">
		    <form class="form-horizontal">
				    <div class="form-group">
				        <label class="col-lg-2 control-label">Email</label>
				        <div class="col-lg-10">
				            <input id="send_mobile_email" type="text" >
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-lg-2 control-label">Password</label>
				        <div class="col-lg-10">
				            <input id="send_mobile_email2" type="text" >
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-lg-2 control-label">Comment</label>
				        <div class="col-lg-10">
				            <textarea id="send_mobile_email3" ></textarea>
				        </div>
				    </div>
				    <div class="form-group">
				        <div class="col-lg-10 col-lg-offset-2">
				            <a class="waves-effect waves-light btn">Send</a>
				        </div>
				    </div>
				</form>
			</div>
	  </div>
	</div>
</template> -->

<!-- <template name="test4">
	<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a class="test11" href="#test1">Test 1</a></li>
        <li class="tab col s4"><a href="#test2">Test 2</a></li>
        <li class="tab col s4"><a href="#test3">Test 3</a></li>
      </ul>
    </div>
    <div class="col s12 test1">Test 1</div>
    <div class="col s12 test2">Test 2</div>
    <div class="col s12 test3">Test 3</div>
  </div>
</template> -->
