body {
  /*font-family: sans-serif;
  background-color: #fff;
  /*background-color: #315481;*/
  /*background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;*/

  /*font-size: 14px;*/
}


.block {
	/*height: 500px;
	width: 500px;
	margin-top: 50px;
	margin-left: 350px;
	border: 12px;*/
	max-width: 500px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.first-block {
	height: 200px;
	background-color: #26a69a;
	/*border: 12px;*/
}

.first-block p {
	color : #FFF;
	text-align: center;
	font-size: 30px;
}

.first-block .balance-text {
	padding-top: 23px;
}

.first-block .balance-btn {
	padding-top: 20px;
	padding-left: 20px;
}

.btn-font {
	font-size: 15px;
	font-weight: 500;
	background-color: #fff;
	color : #26a69a;
	width : 150px;
}

.second-block {
	height : 400px;
	margin-top: -19px;
	background-color: #EEF5F5;
}

.second-block .latest-trxn p {
	color : #26a69a;
	text-align: center;
	font-size: 16px;
	padding-top: 7px;
}

.tabs .tab a {
	color: #26A69A;
	font-weight: 500;
}

.row .col .s6 {
	width: 70%;
	margin-left: 75px;
	line-height: 1.0;
}

.row-height {
	height: 2px;
}

.row .col.s12 {
	/*margin-top: 10px;*/
}

.input-field .prefix ~ textarea {
	height: 12px;
	min-height: 1rem;
}

.form-horizontal {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10px;
}

.form-group input {
	height: 2rem;
}

.form-group a {
	width: 441px;
	margin-top: 18px;
}

.btn-style {
	width: 441px;
	margin-top: 18px;
	margin-left: 18px;
}

@media (max-width: 500px) {
  /*li {
    padding: 12px 15px;
  }*/
  .first-block {
  	height : 160px;
  }
  .second-block {
		height: 350px;
	}
	.btn-font {
		width : 100px;
		font-size: 12px;
		font-weight: 400;
	}

	.first-block .balance-btn {
		padding-top: 12px;
		padding-left: 7px;
	}

	.second-block .latest-trxn p {
		color : #26a69a;
		text-align: center;
		font-size: 14px;
		padding-top: 12px;
	}

	.row .col .s6 {
		width: 70%;
		margin-left: 50px;
	}

	.tabs .tab {
		width: 100px;
	}

	.form-group a {
		width: 260px;
		margin-top: 18px;
	}

	.btn-style {
		width: 255px;
		margin-top: 12px;
		margin-left: 25px;
	}
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {

	.first-block {
  	height : 200px;
  }

  .second-block {
		height: 450px;
	}

	.tabs .tab {
		width: 33.33333%;
	}
}

