<template name="home">
	<div class="block">
	  <div class="first-block">
	  	<div class="balance-text">
		  	<p >Balance = R 100</p>
		  </div>
		</div>
		<div class="row second-block">
			<div class="row">
		    <div class="col s12">
		      <ul class="tabs">
		        <li class="tab col s3 "><a class="tab-color send-li" href="#send">Send</a></li>
		        <li class="tab col s3 "><a class="tab-color" href="#request">Request</a></li>
		        <li class="tab col s3 "><a class="tab-color" href="#add">Add</a></li>
		      </ul>
		    </div>
		  </div>
	    <div class="row send">
	      <form class="col s12">
	        <div class="row row-height">
	          <div class="input-field col s6">
	            <input id="send_mobile_email" type="text" length="10">
	            <label for="send_mobile_email">Mobile or Email</label>
	          </div>
	        </div>
	        <div class="row row-height">
	          <div class="input-field col s6">
	            <input id="send_amount" type="text" length="4">
	            <label for="send_amount">Amount</label>
	          </div>
	        </div>
	        <div class="row row-height">
	          <div class="input-field col s6">
		          <i class="mdi-editor-insert-comment prefix"></i>
		          <textarea id="send_comment" class="materialize-textarea comment-height"></textarea>
		          <label for="send_comment">Commments</label>
		        </div>
	        </div>
	        <a class="waves-effect waves-light btn btn-style">Send</a>
	      </form>
	    </div>
	    <div class="row request">
	      <form class="col s12">
	        <div class="row row-height">
	          <div class="input-field col s6">
	            <input id="request_mobile_email" type="text" length="10">
	            <label for="request_mobile_email">Mobile or Email</label>
	          </div>
	        </div>
	        <div class="row row-height">
	          <div class="input-field col s6">
	            <input id="request_amount" type="text" length="4">
	            <label for="request_amount">Amount</label>
	          </div>
	        </div>
	        <div class="row row-height">
		        <div class="input-field col s6">
		          <i class="mdi-editor-insert-comment prefix"></i>
		          <textarea id="request_comment" class="materialize-textarea comment-height"></textarea>
		          <label for="request_comment">Comments</label>
		        </div>
		      </div>
		      <a class="waves-effect waves-light btn btn-style">Request</a>
	      </form>
	    </div>
	    <div class="row add">
	      <form class="col s12">
	        <div class="row row-height">
	          <div class="input-field col s6">
	            <input id="add_amount" type="text" length="10">
	            <label for="add_amount">Enter Amount to Add</label>
	          </div>
	        </div>
	        <a class="waves-effect waves-light btn btn-style">Add</a>
	      </form>
	    </div>
		</div>
	</div>
	
</template>